@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
}

<h2>Movies</h2>

@Html.ActionLink("Add New Movie", "New", "Movies", new { } , new { @class="btn btn-primary"})

<table class="table table-bordered table-hover">
    <tr>
        <td>Movie</td>
        <td>Genre</td>
    </tr>
    @foreach (var movie in Model)
    {
        <tr>
            
            <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.ID }, null)</td>
            <td>@movie.Genre.Name</td>
        </tr>
    }
</table>